# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
/downloads
/solr/vendor
/solr/vufind/biblio/index.back
/vendor
vufind.log
composer.phar
import/solrmarc.log
import/solrmarc.log.1
node_modules
public/swagger-ui
.vagrant
